* {
  color: #3C1313;
}

::placeholder {
  color: #792727;
  font-weight: bold;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  margin-top: 25px;
  transform: scale(2);
}
