.div-flex {
  display: flex;
  flex-direction: column;
  clear: both;
}
mat-card {
  margin: .5rem;
  flex: 100%;
}

#add{
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 2px;
}

.orange600 {
  color: #FB8C00;
}

.date {
  color: #5c800f;
}

#details {
  color: #2692ff;
}
@media screen and (min-width: 760px) {
  .div-flex {
    flex-direction: row;
  }
  mat-card {
    margin: 1rem;
    flex: 50%;
  }
}
